
.signup,
.logos,
.testimonials,
.data,
.footer-widgets,
.credits {
    padding: 50px 0px;
}

.signup {
    color: #fff;
    background: url(images/particle.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333;
}

.signup h2 {
    margin-top: 24px;
}

.jumbotron {
    background: none;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.jumbotron p {
    margin-top: 40px;
}

.jumbotron .btn-primary {
    background-color: #82bc00;
    border-color: #82bc00;
    color: #000;
}

.jumbotron .btn-primary:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

.form-header, form {
    max-width: 400px;
    margin: auto;
}

.form-header {
    text-align: center;
}

form {
    background-color: #82bc00;
    padding: 48px;
    color: #fff
}

.logos {
    background-color: #eee;
}

.testimonials {
    background-color: #82bc00;
    color: #fff;
}

.testimonials blockquote {
    padding: 30px;
}

.data {
    background-color: #fff;
}

.data p {
    font-size: 24px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

.footer-widgets,
.credits {
    background-color: #f6fbff;
    font-size: 14px;
    color: #61717a;
}

.footer-widgets a,
.credits a,
.footer-widgets a
.credits a:hover {
    color: #61717a;
}

.footer-widgets img {
    max-width: 210px;
}

.footer-widgets ul {
    padding-left: 0px;
    list-style: none;
}

.footer-widgets h4,
.footer-widgets li {
    margin-bottom: 10px;
}

.footer-widgets h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.credits {
    border-top: 1px solid #deeaf2;
    border-bottom: 14px solid #82bc00;
}